:root {
    --hight: auto;
    --border: 1px solid rgb(0, 0, 0/0.2);
    --body-font: font-family: Arial, Helvetica, sans-serif;
    --accent-color: black;
    --heading-font: font-family: Arial, Helvetica, sans-serif;
    --primary-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
    /* color: black */
}

header {
    display: grid;
    width: 840px;
    margin: 0 auto;
    /* align-items: center; */
    grid-template-columns: 200px 1fr;
    background-color: var(--primary-color);
    padding: 1rem;

}

header nav {
    justify-self: end;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
    /* justify-self: end; */
    font-size: 1.2rem;
}

header img {
    width: 125px;
    height: auto;
}

header header,
main,
footer {
    border-bottom: var(--border);
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    margin: 1rem;
    text-align: center;
}

nav {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.socialmedia {
    grid-column: 3;
    display: flex;
    justify-self: end;
    gap: 15px;
}

/* .hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
} */

h1 {
    width: 100%;
    padding: 16px;
    margin: 0 12px 0 0px;
    opacity: 0.8;
    /* background-color: rgb(36, 17, 4); */
    color: black;
    font-size: 2rem;
    text-align: center;
    /* align-items: left; */

}

main p {
    text-align: center;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    gap: 0;

}

.contact {
    width: 840px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;

}

iframe {
    width: 400px;
    /* height: auto; */
    margin-right: 10px;
}

form {

    /* width: 650px; */
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid rgb(0, 0, 0/0.1); */
    /* border-radius: 0.5rem; */
    /* background-color: #eee; */
    display: grid;
}

/* .hero article {
    position: absolute;
    bottom: 100px;
    background-color: antiquewhite;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
    padding: 5px;
    border: var(--border);
} */

/* h2 {
    grid-column: 1 / -1;
    text-align: center;
} */

/* .history img {
    width: 100%;
    height: auto;
    
}

.history p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
} */

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: darkgray;
    width: 100%;
    height: auto;
    gap: 5px;
    margin: 10px 0px 5px;
    padding: 5px;
    border: 1px solid black;
}

.employees h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.employees figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.employees img {
    display: block;
    width: 100%;
    height: auto;
    /* justify-self: center; */
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
    padding: 0px;

}

.socialmedia img {
    border: 1px solid white;
}

footer p {
    grid-column: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}