
/* tfoot{ */
    /* background-color: #e21818; */


/* thead{ */
    /* background-color: aqua; */


table{
    border: 2px solid rgb(140, 140, 140);
    border-collapse: collapse;
    letter-spacing: 1px;
}

th, td{
    border: 2px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr, tfoot tr{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;

}

thead tr:hover{
    color: #cf2323;
}

tfoot th :hover{
    color: aqua;
}

tbody th:hover{
    color: blanchedalmond;
}