*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 16px;
    font-family: Roboto Arial, Helvetica, sans-serif;
}

nav{
    background-color: darkblue;
    padding: 10px;

}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

main{
    max-width: 640px;
}

h1{
    color: darkblue;
    padding: 10px;

}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 1rem;

}

main img{
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
    padding: 2px;
    border: 1px solid steelblue;
    
}

aside{
    color: #333;
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0/0,2);
    text-align: center;
    line-height: 1.4;
    background-color: #eee;
    position: relative;
}


aside img{
    width: 250px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 88px;
    left: 180px;
}

/* Class selector */
.box{
    margin: 1rem;
    margin-top: 10px;
    padding: 1rem;
    background-color: #eeecf1;
    color: #333;
}

.indent{
    padding-left: 2rem;
}


footer{
    margin-top: 15px;
    border-top: 1px solid #050505;
    text-align: center;
}