* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --image-width: 150px;
    --image-hight: Auto;
    --image-padding: 2px;
}

body {
    font-size: 16px;
    font-family: Roboto Arial, Helvetica, sans-serif;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;

}

header,
footer {
    max-width: 840px;
    margin: 0 auto 10px;
}

h1 {
    color: darkblue;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #333;

}

img {
    width: var(--image-width);
    height: var(--image-hight);
    border: 1px solid black;
    padding: var(--image-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;

}

main img {
    width: var(--image-width);
    height: var(--image-hight);
    float: right;
    margin: 0 0 1rem 1rem;
    padding: var(--image-padding);
    border: 1px solid steelblue;

}

aside {
    color: #333;
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0/0, 2);
    text-align: center;
    line-height: 1.4;
    background-color: #eee;
    position: relative;
}


aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 88px;
    left: 180px;
}

/* Class selector */
.box {
    margin: 1rem;
    margin-top: 10px;
    padding: 1rem;
    background-color: #eeecf1;
    color: #333;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;

}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

header .grid footer {
    max-width: 840;
    margin: 0 auto;
}


footer {

    border-top: 1px solid #050505;
    text-align: center;
}