*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header, footer{
    background-color: #333;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

main{
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #222;
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}
section{
    padding: 10px;
    border: 1px solid rgb(0 0 0 /10%);
    margin: 20px 0;
    background-color: #abe;
    font-size: .9rem;
}

section p{
    margin: 10px;
}

ul{
    margin: 10px 20px;
}

footer{
    font-size: .9rem;
}